<html>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="height: 400px"></div>



<script>
console.log("list")            //retrieving content from the views
var l={{list.corn}}
console.log(l)
Highcharts.chart('container', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },
    title: {
        text: 'Crop distribution in the farms of the village-2017'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'Crop share',
        data: [
            ['corn', {{list.corn}}],
            ['tomato', {{list.tomato}}],             
            { 
                name: 'mirchi',
                y: {{list.mirchi}},
               // sliced: true,
                //selected: true
            },
            ['Paddy', {{list.Paddy}}],
            ['Brinjal', {{list.brinjal}}],
            
        ]     //giving content to show in piechart
    }]
});
</script>
<body>{{list.mirchi}}</body></html>